<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">

  <title><%- title %></title>

  <link href="css/style.default.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>


<section>
  
   <%- include('../partials/leftpanel') %>
  
  <div class="mainpanel">
    
     <%- include('../partials/menu')%>
        
    <div class="pageheader">
      <h2><i class="fa fa-file-o"></i> Media Manager <span>Subtitle goes here...</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href=" / ">Bracket</a></li>
          <li><a href="/calendar ">Pages</a></li>
          <li class="active">Media Manager</li>
        </ol>
      </div>
    </div>
        
    <div class="contentpanel">
      
      <ul class="filemanager-options">
        <li>
          <div class="ckbox ckbox-default">
            <input type="checkbox" id="selectall" value="1" />
            <label for="selectall">Select All</label>
          </div>
        </li>
        <li>
          <a href="" class="itemopt disabled"><i class="fa fa-envelope-o"></i> Email</a>
        </li>
        <li>
          <a href="" class="itemopt disabled"><i class="fa fa-download"></i> Download</a>
        </li>
        <li>
          <a href="" class="itemopt disabled"><i class="fa fa-pencil"></i> Edit</a>
        </li>
        <li>
          <a href="" class="itemopt disabled"><i class="fa fa-trash-o"></i> Delete</a>
        </li>
        <li class="filter-type">
          Show:
          <a href="all" class="active">All</a>
          <a href="document">Documents</a>
          <a href="audio">Audio</a>
          <a href="image">Images</a>
          <a href="video">Videos</a>
        </li>
        
      </ul>
        
      
      <div class="row">
        <div class="col-sm-9">
          <div class="row filemanager">
            
            <div class="col-xs-6 col-sm-4 col-md-3 document">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check1" value="1" />
                  <label for="check1"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <img src="images/photos/media-doc.png" class="img-responsive" alt="" />
                </div>
                <h5 class="fm-title"><a href="">MyDocuments.doc</a></h5>
                <small class="text-muted">Added: Jan 03, 2014</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
            
            <div class="col-xs-6 col-sm-4 col-md-3 image">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check2" value="1" />
                  <label for="check2"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <a href="images/photos/media1.jpg" data-rel="prettyPhoto">
                    <img src="images/photos/media1.jpg" class="img-responsive" alt="" />
                  </a>
                </div>
                <h5 class="fm-title"><a href="">Vegetarian.png</a></h5>
                <small class="text-muted">Added: Jan 02, 2014</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
            
            <div class="col-xs-6 col-sm-4 col-md-3 video">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check3" value="1" />
                  <label for="check3"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <img src="images/photos/media5.png" class="img-responsive" alt="" />
                </div>
                <h5 class="fm-title"><a href="">DogAnimation.mp4</a></h5>
                <small class="text-muted">Added: Jan 02, 2014</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
            
            <div class="col-xs-6 col-sm-4 col-md-3 audio">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check7" value="1" />
                  <label for="check7"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <img src="images/photos/media-audio.png" class="img-responsive" alt="" />
                </div>
                <h5 class="fm-title"><a href="">WreckingBall.mp3</a></h5>
                <small class="text-muted">Added: Jan 01, 2014</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
            
            <div class="col-xs-6 col-sm-4 col-md-3 image">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check4" value="1" />
                  <label for="check4"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <a href="images/photos/media3.png" data-rel="prettyPhoto">
                    <img src="images/photos/media3.png" class="img-responsive" alt="" />
                  </a>
                </div>
                <h5 class="fm-title"><a href="">MyFirstArt.png</a></h5>
                <small class="text-muted">Added: Jan 01, 2014</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
            
            <div class="col-xs-6 col-sm-4 col-md-3 document">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check5" value="1" />
                  <label for="check5"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <img src="images/photos/media-doc.png" class="img-responsive" alt="" />
                </div>
                <h5 class="fm-title"><a href="">MyResume.docx</a></h5>
                <small class="text-muted">Added: Jan 01, 2014</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
            
            <div class="col-xs-6 col-sm-4 col-md-3 video">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check6" value="1" />
                  <label for="check6"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <img src="images/photos/media4.png" class="img-responsive" alt="" />
                </div>
                <h5 class="fm-title"><a href="">MyFirstMovie.mp4</a></h5>
                <small class="text-muted">Added: Jan 01, 2014</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
                        
            <div class="col-xs-6 col-sm-4 col-md-3 image">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check13" value="1" />
                  <label for="check13"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <a href="images/photos/media2.png" data-rel="prettyPhoto">
                    <img src="images/photos/media2.png" class="img-responsive" alt="" />
                  </a>
                </div>
                <h5 class="fm-title"><a href="">MeAndFriends.png</a></h5>
                <small class="text-muted">Added: Jan 01, 2014</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
            
            <div class="col-xs-6 col-sm-4 col-md-3 audio">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check8" value="1" />
                  <label for="check8"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <img src="images/photos/media-audio.png" class="img-responsive" alt="" />
                </div>
                <h5 class="fm-title"><a href="">IWillSurvive.mp3</a></h5>
                <small class="text-muted">Added: Dec 31, 2013</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
            
            <div class="col-xs-6 col-sm-4 col-md-3 document">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check9" value="1" />
                  <label for="check9"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <img src="images/photos/media-doc.png" class="img-responsive" alt="" />
                </div>
                <h5 class="fm-title"><a href="">MyDocuments.doc</a></h5>
                <small class="text-muted">Added: Dec 31, 2013</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
            
            <div class="col-xs-6 col-sm-4 col-md-3 image">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check10" value="1" />
                  <label for="check10"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <a href="images/photos/media6.png" data-rel="prettyPhoto">
                    <img src="images/photos/media6.png" class="img-responsive" alt="" />
                  </a>
                </div>
                <h5 class="fm-title"><a href="">GreatCity.png</a></h5>
                <small class="text-muted">Added: Dec 30, 2013</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
            
            <div class="col-xs-6 col-sm-4 col-md-3 video">
              <div class="thmb">
                <div class="ckbox ckbox-default">
                  <input type="checkbox" id="check11" value="1" />
                  <label for="check11"></label>
                </div>
                <div class="btn-group fm-group">
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
                      <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
                      <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                      <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div><!-- btn-group -->
                <div class="thmb-prev">
                  <img src="images/photos/media7.png" class="img-responsive" alt="" />
                </div>
                <h5 class="fm-title"><a href="">InTheSea.mp4</a></h5>
                <small class="text-muted">Added: Dec 30, 2013</small>
              </div><!-- thmb -->
            </div><!-- col-xs-6 -->
            
          </div><!-- row -->
        </div><!-- col-sm-9 -->
        <div class="col-sm-3">
          <div class="fm-sidebar">
            
            <button class="btn btn-primary btn-block">Upload Files</button>
            
            <div class="mb30"></div>
            
            <h5 class="subtitle">Folders <a href="" class="pull-right">+ Add New Folder</a></h5>
            <ul class="folder-list">
              <li><a href=""><i class="fa fa-folder-o"></i> My Pictures</a></li>
              <li><a href=""><i class="fa fa-folder-o"></i> Facebook Photos</a></li>
              <li><a href=""><i class="fa fa-folder-o"></i> My Collection</a></li>
              <li><a href=""><i class="fa fa-folder-o"></i> Illustrations</a></li>
              <li><a href=""><i class="fa fa-folder-o"></i> TV Series</a></li>
              <li><a href=""><i class="fa fa-folder-o"></i> Downloaded Movies</a></li>
              <li><a href=""><i class="fa fa-folder-o"></i> E-book</a></li>
            </ul>
            
            <div class="mb30"></div>
            
            <h5 class="subtitle">Tags</h5>
            <ul class="tag-list">
              <li><a href="">Animation</a></li>
              <li><a href="">Design</a></li>
              <li><a href="">Trailer</a></li>
              <li><a href="">Short Film</a></li>
              <li><a href="">Dubstep</a></li>
              <li><a href="">Soundtrack</a></li>
              <li><a href="">Photography</a></li>
              <li><a href="">Macro</a></li>
              <li><a href="">Tuturials</a></li>
              <li><a href="">Documentation</a></li>
            </ul>
            
          </div>
        </div><!-- col-sm-3 -->
      </div>
    </div>
    
  </div><!-- mainpanel -->
  
  <div class="rightpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#rp-alluser" data-toggle="tab"><i class="fa fa-users"></i></a></li>
        <li><a href="#rp-favorites" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
        <li><a href="#rp-history" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
        <li><a href="#rp-settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
    </ul>
        
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="rp-alluser">
            <h5 class="sidebartitle">Online Users</h5>
            <ul class="chatuserlist">
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/userprofile.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Eileen Sideways</strong>
                            <small>Los Angeles, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user1.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <span class="pull-right badge badge-danger">2</span>
                            <strong>Zaham Sindilmaca</strong>
                            <small>San Francisco, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user2.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Nusja Nawancali</strong>
                            <small>Bangkok, Thailand</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user3.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Renov Leongal</strong>
                            <small>Cebu City, Philippines</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Weno Carasbong</strong>
                            <small>Tokyo, Japan</small>
                        </div>
                    </div><!-- media -->
                </li>
            </ul>
            
            <div class="mb30"></div>
            
            <h5 class="sidebartitle">Offline Users</h5>
            <ul class="chatuserlist">
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user5.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Eileen Sideways</strong>
                            <small>Los Angeles, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user2.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Zaham Sindilmaca</strong>
                            <small>San Francisco, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user3.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Nusja Nawancali</strong>
                            <small>Bangkok, Thailand</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Renov Leongal</strong>
                            <small>Cebu City, Philippines</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user5.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Weno Carasbong</strong>
                            <small>Tokyo, Japan</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Renov Leongal</strong>
                            <small>Cebu City, Philippines</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user5.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Weno Carasbong</strong>
                            <small>Tokyo, Japan</small>
                        </div>
                    </div><!-- media -->
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="rp-favorites">
            <h5 class="sidebartitle">Favorites</h5>
            <ul class="chatuserlist">
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user2.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Eileen Sideways</strong>
                            <small>Los Angeles, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user1.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Zaham Sindilmaca</strong>
                            <small>San Francisco, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user3.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Nusja Nawancali</strong>
                            <small>Bangkok, Thailand</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Renov Leongal</strong>
                            <small>Cebu City, Philippines</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user5.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Weno Carasbong</strong>
                            <small>Tokyo, Japan</small>
                        </div>
                    </div><!-- media -->
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="rp-history">
            <h5 class="sidebartitle">History</h5>
            <ul class="chatuserlist">
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Eileen Sideways</strong>
                            <small>Hi hello, ctc?... would you mind if I go to your...</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user2.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Zaham Sindilmaca</strong>
                            <small>This is to inform you that your product that we...</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user3.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Nusja Nawancali</strong>
                            <small>Are you willing to have a long term relat...</small>
                        </div>
                    </div><!-- media -->
                </li>
            </ul>
        </div>
        <div class="tab-pane pane-settings" id="rp-settings">
            
            <h5 class="sidebartitle mb20">Settings</h5>
            <div class="form-group">
                <label class="col-xs-8 control-label">Show Offline Users</label>
                <div class="col-xs-4 control-label">
                    <div class="toggle toggle-success"></div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-8 control-label">Enable History</label>
                <div class="col-xs-4 control-label">
                    <div class="toggle toggle-success"></div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-8 control-label">Show Full Name</label>
                <div class="col-xs-4 control-label">
                    <div class="toggle-chat1 toggle-success"></div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-xs-8 control-label">Show Location</label>
                <div class="col-xs-4 control-label">
                    <div class="toggle toggle-success"></div>
                </div>
            </div>
            
        </div><!-- tab-pane -->
        
    </div><!-- tab-content -->
  </div><!-- rightpanel -->
  
</section>


<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>


<script src="js/jquery.prettyPhoto.js"></script>

<script src="js/custom.js"></script>
<script>
  jQuery(document).ready(function(){
    
    "use strict";
    
    jQuery('.thmb').hover(function(){
      var t = jQuery(this);
      t.find('.ckbox').show();
      t.find('.fm-group').show();
    }, function() {
      var t = jQuery(this);
      if(!t.closest('.thmb').hasClass('checked')) {
        t.find('.ckbox').hide();
        t.find('.fm-group').hide();
      }
    });
    
    jQuery('.ckbox').each(function(){
      var t = jQuery(this);
      var parent = t.parent();
      if(t.find('input').is(':checked')) {
        t.show();
        parent.find('.fm-group').show();
        parent.addClass('checked');
      }
    });
    
    
    jQuery('.ckbox').click(function(){
      var t = jQuery(this);
      if(!t.find('input').is(':checked')) {
        t.closest('.thmb').removeClass('checked');
        enable_itemopt(false);
      } else {
        t.closest('.thmb').addClass('checked');
        enable_itemopt(true);
      }
    });
    
    jQuery('#selectall').click(function(){
      if(jQuery(this).is(':checked')) {
        jQuery('.thmb').each(function(){
          jQuery(this).find('input').attr('checked',true);
          jQuery(this).addClass('checked');
          jQuery(this).find('.ckbox, .fm-group').show();
        });
        enable_itemopt(true);
      } else {
        jQuery('.thmb').each(function(){
          jQuery(this).find('input').attr('checked',false);
          jQuery(this).removeClass('checked');
          jQuery(this).find('.ckbox, .fm-group').hide();
        });
        enable_itemopt(false);
      }
    });
    
    function enable_itemopt(enable) {
      if(enable) {
        jQuery('.itemopt').removeClass('disabled');
      } else {
        
        // check all thumbs if no remaining checks
        // before we can disabled the options
        var ch = false;
        jQuery('.thmb').each(function(){
          if(jQuery(this).hasClass('checked'))
            ch = true;
        });
        
        if(!ch)
          jQuery('.itemopt').addClass('disabled');
      }
    }
    
    jQuery("a[data-rel^='prettyPhoto']").prettyPhoto();
    
  });
  
</script>

</body>
</html>
